---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Gomitas Sin Azúcar de Frutas Frescas",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Gomitas de Colágeno y Biotina",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Gomitas Energéticas Sin Azúcar:",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Gomitas Sin Azúcar con Propiedades Antioxidantes",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Gomitas para un Sueño Tranquilo",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Lit",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Productos" id="products">
  <Fragment slot="lead">
    Astro . Bring your own UI{" "}
    <span class="text-primary">framework</span>
     and deploy to your favorite <span class="text-primary">platform</span>.
     Creadas con  <span class="text-primary">devoción y cuidado</span>, nuestras gomitas no solo son <span class="text-primary">irresistiblemente deliciosas</span>, 
     sino también una opción consciente para aquellos que buscan  <span class="text-primary">disfrutar de lo dulce</span> sin comprometer su bienestar.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Productos estrella"
    url=""
  />
  <CompatibilityList
    items={platforms}
    title="Productos libres de edulcorantes"
    url=""
  />
</ContentSection>
