---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Salud Bucal Mejorada",
    description:
      "Nuestras gomitas sin azúcar son la opción perfecta para aquellos que desean disfrutar de un toque dulce sin comprometer la salud bucal. Al eliminar el azúcar, reducimos el riesgo de caries y promovemos una sonrisa radiante.",
    icon: "mdi:handshake",
  },
  {
    title: "Control de Peso y Energía Sostenible",
    description:
      "Diseñadas para adaptarse a un estilo de vida equilibrado, nuestras gomitas sin azúcar son una alternativa inteligente para aquellos que buscan mantener o perder peso. Sin picos de azúcar en la sangre, experimentarás niveles de energía más estables a lo largo del día.",
    icon: "mdi:feather",
  },
  {
    title: "Opción Ideal para Diabéticos",
    description:
      "Con un índice glucémico bajo, nuestras gomitas sin azúcar son una delicia segura para personas con diabetes. Disfruta de la dulzura sin preocupaciones, sin comprometer tu salud metabólica.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Sabores Auténticos, Sin Culpa",
    description:
      "Cada gomita está impregnada con sabores auténticos que deleitan tus papilas gustativas, sin la carga de azúcares añadidos. Descubre la combinación perfecta de placer y bienestar en cada bocado.",
    icon: "mdi:graph",
  },
  {
    title: "Libres de Edulcorantes Artificiales",
    description:
      "Nos enorgullece ofrecer gomitas sin azúcar que son también libres de edulcorantes artificiales. Priorizamos ingredientes naturales para proporcionar una experiencia de sabor genuina y sin compromisos.",
    icon: "mdi:search-web",
  },
  {
    title: "Sin Gluten, Sin Lácteos, Sin Soja",
    description:
      "Nuestras gomitas sin azúcar están hechas con ingredientes naturales y son libres de gluten, lácteos y soja. Esto las convierte en una opción segura para aquellos con alergias o intolerancias alimentarias.",
    icon: "mdi:shield",
  },
];
---

<ContentSection title="Beneficios" id="benefits">
  <Fragment slot="lead">
  A todos nos gusta  <span class="text-primary">comer y cuidarnos</span>, pero no siempre es fácil. 
  Por eso,  <span class="text-primary">nuestros productos</span> están pensados para que puedas  <span class="text-primary">disfrutar de la comida</span> sin preocuparte por la cantidad de azucar.

  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
