---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="¿Quienes somos?" id="intro">
  <Icon slot="eyebrow" name="logoGummies" class="h-32" />
  <Fragment slot="lead">
    Healthy Gummies es una empresa dedicada a la venta de  
    <span class="text-primary">productos</span> saludables.
    Nuestras gomitas
    <span class="text-primary">sin azucar</span>
    son ideales para personas que buscan cuidar su 
    <span class="text-primary">salud</span> y su figura.

  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#products"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Explora nuestros productos</span>
    </a>
    <a
      href="#benefits"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Lee acerca de los beneficios</span>
    </a>
  </div>
</ContentSection>
